.page {
  height: 100dvh;
  background-image: url("/gradient-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7rem 15rem;
}
